---
// @ts-ignore
import { getCollection } from "astro:content";
// @ts-ignore
import { AstroFont } from "astro-font"; 
// @ts-ignore
import { SEO } from "astro-seo"; 
// @ts-ignore
import { schema } from "astro-seo-schema"; 
// @ts-ignore
import { Image } from "astro:assets";
import { config } from "@config/config";
import { theme } from "@config/theme";
import { getPosts } from "@utils/content"; // This function needs to be defined or imported.
import { getAllAuthors } from "@utils/get-all-authors"; 
import { getPostsByCategory } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByTag } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByAuthor } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByYear } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByMonth } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByDay } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsBySearch } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsBySlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByCategorySlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByTagSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByAuthorSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByYearSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByMonthSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByDaySlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsBySearchSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsBySlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByCategorySlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByTagSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByAuthorSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByYearSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByMonthSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByDaySlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsBySearchSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsBySlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByCategorySlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByTagSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByAuthorSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByYearSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByMonthSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByDaySlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsBySearchSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsBySlugSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByCategorySlugSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByTagSlugSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByAuthorSlugSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByYearSlugSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByMonthSlugSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsByDaySlugSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import { getPostsBySearchSlugSlugSlugSlug } from "@utils/content"; // This function needs to be defined or imported.
import AuthorCard from "@components/authorcard.astro";
import PostContent from "@components/postcontent.astro";
import Pagination from "@components/pagination.astro";
import Socialshare from "@components/socialshare.astro";
import { getPostsByCategorySlug as getPostsByCategorySlug2 } from "@utils/content";
import { getPostsByTagSlug as getPostsByTagSlug2 } from "@utils/content";
import { getPostsByAuthorSlug as getPostsByAuthorSlug2 } from "@utils/content";
import { getPostsByYearSlug as getPostsByYearSlug2 } from "@utils/content";
import { getPostsByMonthSlug as getPostsByMonthSlug2 } from "@utils/content";
import { getPostsByDaySlug as getPostsByDaySlug2 } from "@utils/content";
import { getPostsBySearchSlug as getPostsBySearchSlug2 } from "@utils/content";
import { getPostsBySlugSlug as getPostsBySlugSlug2 } from "@utils/content";
import { getPostsByCategorySlugSlug as getPostsByCategorySlugSlug2 } from "@utils/content";
import { getPostsByTagSlugSlug as getPostsByTagSlugSlug2 } from "@utils/content";
import { getPostsByAuthorSlugSlug as getPostsByAuthorSlugSlug2 } from "@utils/content";
import { getPostsByYearSlugSlug as getPostsByYearSlugSlug2 } from "@utils/content";
import { getPostsByMonthSlugSlug as getPostsByMonthSlugSlug2 } from "@utils/content";
import { getPostsByDaySlugSlug as getPostsByDaySlugSlug2 } from "@utils/content";
import { getPostsBySearchSlugSlug as getPostsBySearchSlugSlug2 } from "@utils/content";
import { getPostsBySlugSlugSlug as getPostsBySlugSlugSlug2 } from "@utils/content";
import { getPostsByCategorySlugSlugSlug as getPostsByCategorySlugSlugSlug2 } from "@utils/content";
import { getPostsByTagSlugSlugSlug as getPostsByTagSlugSlugSlug2 } from "@utils/content";
import { getPostsByAuthorSlugSlugSlug as getPostsByAuthorSlugSlugSlug2 } from "@utils/content";
import { getPostsByYearSlugSlugSlug as getPostsByYearSlugSlugSlug2 } from "@utils/content";
import { getPostsByMonthSlugSlugSlug as getPostsByMonthSlugSlugSlug2 } from "@utils/content";
import { getPostsByDaySlugSlugSlug as getPostsByDaySlugSlugSlug2 } from "@utils/content";
import { getPostsBySearchSlugSlugSlug as getPostsBySearchSlugSlugSlug2 } from "@utils/content";
import { getPostsBySlugSlugSlugSlug as getPostsBySlugSlugSlugSlug2 } from "@utils/content";
import { getPostsByCategorySlugSlugSlugSlug as getPostsByCategorySlugSlugSlugSlug2 } from "@utils/content";
import { getPostsByTagSlugSlugSlugSlug as getPostsByTagSlugSlugSlugSlug2 } from "@utils/content";
import { getPostsByAuthorSlugSlugSlugSlug as getPostsByAuthorSlugSlugSlugSlug2 } from "@utils/content";
import { getPostsByYearSlugSlugSlugSlug as getPostsByYearSlugSlugSlugSlug2 } from "@utils/content";
import { getPostsByMonthSlugSlugSlugSlug as getPostsByMonthSlugSlugSlugSlug2 } from "@utils/content";
import { getPostsByDaySlugSlugSlugSlug as getPostsByDaySlugSlugSlugSlug2 } from "@utils/content";
import { getPostsBySearchSlugSlugSlugSlug as getPostsBySearchSlugSlugSlugSlug2 } from "@utils/content";
const posts = await getPosts();
const authors = await getAllAuthors();
const { params } = Astro.params;
const post = posts.find((post) => post.slug === params.postslug);
const prevPost = posts.find((post) => post.slug === params.postslug);
const nextPost = posts.find((post) => post.slug === params.postslug);
const author = authors.find((author) => author.slug === post?.author);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{post.title}</title>
    <meta name="description" content={post.excerpt} />
    <meta property="og:title" content={post.title} />
    <meta property="og:description" content={post.excerpt} />
    <meta property="og:image" content={post.heroImage} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={post.title} />
    <meta name="twitter:description" content={post.excerpt} />
    <meta name="twitter:image" content={post.heroImage} />
    <meta name="twitter:url" content={Astro.url} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </head>
  <body class="bg-gray-100 dark:bg-gray-900">
    <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/4">
          <AuthorCard author={author} />
        </div>
        <div class="w-full md:w-3/4">
          <PostContent post={post} />
          <Socialshare post={post} />
          <Pagination prevPost={prevPost} nextPost={nextPost} />
        </div>
      </div>
    </div>
  </body>
</html>

<!-- Note:  Many functions and components are undefined.  Please provide the necessary files or modules to resolve these errors. -->
