---
import "../styles/base.css";
import Footer from "@components/footer.astro";
import Navbar from "@components/header/navbar.astro";
import Scripts from "@config/scripts.astro";
// @ts-ignore
import { SEO } from "astro-seo"; // Type definitions for 'astro-seo' are not available.
// @ts-ignore
import { AstroFont } from "astro-font"; // Type definitions for 'astro-font' are not available.

export interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
}

const { title, description, noindex } = Astro.props;

const theme = await import("@config/theme-config.js");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <slot name="head" />

    {
      !Astro.slots.has("head") && (
        <SEO
          title={`${title}`}
          description={description}
          canonical={Astro.url}
          noindex={noindex}
        />
      )
    }

    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          display: "swap",
          name: theme.default.fonts.fontFamily,
          fallback: "Arial, Helvetica, sans-serif",
          cssVariable: "font-primary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=${theme.default.fonts.fontFamily}&display=swap`,
        },
      ]}
    />

    <Scripts />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
